* {
    margin: 0%;
}


body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


/* banner styles  */

.banner-container {
    display: flex;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    padding-left: 240px;
    padding-right: 240px;
    margin-bottom: 150px;
}

.banner-welcome { 
color: #272727;
font-size: 80px;
font-family: lato;
font-weight: 800;
padding-bottom: 32px;
}

.banner-description {
color: rgba(39, 39, 39, 0.60);

font-size: 18px;

font-weight: 400;
line-height: 30px;
padding-bottom: 32px;
}

.img {
    padding-top: 50px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: 0px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
  
    font-weight: 700;
    
}

/* featured title styles  */

.featured-section {
    text-align: center;
    padding-bottom: 195px;
}

.featured-title {
color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-bottom: 32px;
}

.featured-container {
    display: flex;
    justify-content: center;
   
}

/* flower box styles  */

.flower-box1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 90px 50px 0px 50px;
    margin-right: 15px;
    
}
.flower-box2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 90px 50px 0px 50px;
    margin-right: 15px;
}

.flower-box3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 90px 50px 0px 50px;
}


.flower-box-title {
    display: flex;
    justify-content: center;
}

.flower-box-title h4 {

    padding: 30px 170px;
    text-decoration: underline;
}

/* delivery styles  */

.delivery-container {
    display: flex;
    justify-content: space-around;
    margin: 0px 240px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 70px 0px 70px 0px;
}

.delivery-content {
    text-align: center;
    
}

.delivery-description {
    padding-top: 10px;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;

    font-weight: 600;
    line-height: 35px;
}

/* hot deal styles  */

.hot-deal-container {
    display: flex;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    padding-left: 395px;
    padding-right: 395px;
    margin-bottom: 150px;
    margin-top: 150px;
}


.hot-deal-content {
    text-align: center;
    padding-right: 130px;
    
}

.hot-deal-welcome {
    color: #272727;
font-family: Lato;
font-size: 40px;

font-weight: 800;

padding-bottom: 32px;
}

.hot-dealdescription {
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;

font-weight: 400;
line-height: 30px;
padding-bottom: 32px;
}

.hot-deal-img img {
    padding-bottom: 100px;
    padding-top: 100px;
}